// tutorial: https://w3c.hexschool.com/blog/67bc4326

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: whitesmoke;
  background-image: linear-gradient(to bottom, #485563, #29323c);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.text-center {
  text-align: center;
}
.box {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: whitesmoke;
}

$gutter-width: 30px;
$grid-number: 12;

.container-fluid {
  width: 100%;
  margin: auto;
  padding-right: $gutter-width / 2;
  padding-left: $gutter-width / 2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
}


$breakpoints: (
  "": 0px,
  "-sm": 576px,
  "-md": 768px,
  "-lg": 992px,
  "-xl": 1200px,
);

%col {
  position: relative;
  width: 100%;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}
@each $infix in map-keys($breakpoints) {
  @for $i from 1 through $grid-number {
    .col#{$infix}-#{$i} {
      @extend %col;
    }
  }
  @media (min-width: map-get($breakpoints, $infix)) {
    @for $i from 1 through $grid-number {
      .col#{$infix}-#{$i} {
        width: 100% * ($i / $grid-number);
      }
    }
  }
}